[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/local/sbin/start-kube-proxy.sh

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target